.schedule-fab ion-fab-button {
	--background: var(--ion-color-step-150, #fff);
	--background-hover: var(--ion-color-step-200, #f2f2f2);
	--background-focused: var(--ion-color-step-250, #d9d9d9);

	--color: var(--ion-color-primary, #3880ff);
}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.schedule-fab .ios ion-fab-button {
	--background-activated: var(--ion-color-step-250, #d9d9d9);
}

ion-item-sliding[track='ionic'] ion-label {
	border-left: 2px solid var(--ion-color-primary, #3880ff);
	padding-left: 10px;
}

ion-item-sliding[track='angular'] ion-label {
	border-left: 2px solid #ac282b;
	padding-left: 10px;
}

ion-item-sliding[track='communication'] ion-label {
	border-left: 2px solid #8e8d93;
	padding-left: 10px;
}

ion-item-sliding[track='tooling'] ion-label {
	border-left: 2px solid #fe4c52;
	padding-left: 10px;
}

ion-item-sliding[track='services'] ion-label {
	border-left: 2px solid #fd8b2d;
	padding-left: 10px;
}

ion-item-sliding[track='design'] ion-label {
	border-left: 2px solid #fed035;
	padding-left: 10px;
}

ion-item-sliding[track='workshop'] ion-label {
	border-left: 2px solid #69bb7b;
	padding-left: 10px;
}

ion-item-sliding[track='food'] ion-label {
	border-left: 2px solid #3bc7c4;
	padding-left: 10px;
}

ion-item-sliding[track='documentation'] ion-label {
	border-left: 2px solid #b16be3;
	padding-left: 10px;
}

ion-item-sliding[track='navigation'] ion-label {
	border-left: 2px solid #6600cc;
	padding-left: 10px;
}
